<div id="about" class="col s12">
<div class="hero"></div>
<div class="container">
  <div class="cards cards-3">
    <div class="row">
      <div class="col s12">
        <p class="title">
          CLOUDS
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="container">

          <header>
            <p>
              <b>Computer Legends Of Unified Department @ Sahyadri , </b>
              The Department of Computer Science &amp; Engineering started in the year 2007 with an intake of 60 and is a fast growing discipline and is full of rigorous practical analysis. The department is planning to grow in supersonic speed as far as Technical expertise; Faculty Strength, Modern Teaching Aids, Browsing facilities etc. are concerned. The department also interacts with the industries on a regular basis to develop the capabilities in the latest technologies. The department has setup the state of the art laboratories with computing facilities and peripheral devices.
              <br />
          The department has an intake of 180 students in UG (B. E.) category. It also offers a PG Course i.e. M. Tech. in Computer Science &amp; Engineering with an intake of 24. With highly talented faculty, the department boasts of a unique mode of learning, one that uses advanced aids for teaching. Our faculty and students are actively involved in intense interactions that help our students gain practical exposure, much before they are part of the IT industry. Simulated projects and many times, live projects, give our students the thrill of livewire action of the software industry. And beyond the technology side of Computer Science, our curriculum focuses on the behavioral aspects and management perspectives of the Information Technology.
            </p>
          </header>

             <ul class="timeline">
               <!-- Item 1 -->
               <li>
                 <div class="direction-r">
                   <div class="flag-wrapper">
                     <span class="hexa"></span>
                     <span class="flag">Clouds'16</span>
                     <span class="time-wrapper"><span class="time">Sep 2016</span></span>
                   </div>
                   <div class="desc">CLOUDS, the student association for the academic year 2016-17 was inaugurated by Mr. Karthik Bhat, Software Engineer at the UniCourt Inc. in the presence of Professor Sudheer Shetty, Head of the Department of Computer Science and Engineering. Prof. Sudheer Shetty welcomed the gathering and delivered the inaugural address.</div>
                 </div>
               </li>

               <!-- Item 2 -->
               <li>
                 <div class="direction-l">
                   <div class="flag-wrapper">
                     <span class="hexa"></span>
                     <span class="flag">Clouds'15</span>
                     <span class="time-wrapper"><span class="time">Sep 2015</span></span>
                   </div>
                   <div class="desc">CLOUDS (Computer Legends Of the Unified Department @ Sahyadri), the student association for the academic year 2015-16 was inaugurated by Professor Sudheer Shetty, Head of the Department of Computer Science and Engineering. In his address he laid importance on health and about how attitude affects the success of a student. This was then followed by Cultural activities by the students.</div>
                 </div>
               </li>

               <!-- Item 3 -->
               <li>
                 <div class="direction-r">
                   <div class="flag-wrapper">
                     <span class="hexa"></span>
                     <span class="flag">Clouds'14</span>
                     <span class="time-wrapper"><span class="time">Sep 2014</span></span>
                   </div>
                   <div class="desc">CLOUDS 2014-15 was inaugurated by Dr. Antony P. J., Director, PG Studies, KVG College of Engineering, Sullia. Mr. Sudheer Shetty, HoD and the President of CLOUDS, welcomed the Chief Guest, the staff and the second year students of the department.</div>
                 </div>
               </li>

               <li>
                 <div class="direction-l">
                   <div class="flag-wrapper">
                     <span class="hexa"></span>
                     <span class="flag">TOXICS'13</span></span>
                     <span class="time-wrapper"><span class="time">2013 - 2014</span></span>
                   </div>
                   <div class="desc">TOXICS - Technically Outstanding Experts Of Information And Computer Science And Engineering

             Various activities for the academic year 2013-14 of TOXICS-Technically Outstanding experts of Information and Computer Science and Engineering - a Student Association of the Department of Computer Science Engineering &amp; Information Science &amp; Engineering was inaugurated by Mr. Sudheer Pakkala, Software Test Manager, Timken Engineering Research India Pvt. Ltd., Bangalore.</div>
                 </div>
               </li>

               <li>
                 <div class="direction-r">
                   <div class="flag-wrapper">
                     <span class="hexa"></span>
                     <span class="flag">TOXICS'12</span>
                     <span class="time-wrapper"><span class="time">2012 - 2013</span></span>
                   </div>
                   <div class="desc">Various activities for the academic year 2012-13 of TOXICS-Technically Outstanding experts of Information and Computer Science and Engineering – a students’ association of CSE &amp; ISE was inaugurated by Dr. U. B. Pavanaja, Ex-scientist, BARC, Mumbai.</div>
                 </div>
               </li>
             </ul>
       </div>
      </div>
    </div>
  </div>
</div>
</div>
