<div id="home" class="col s12">
  <div class="hero">

  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="cards cards-3 center">
         <p class="title">THE  LEGENDS  OF  SAHYADRI</p>
          <div class="row pad10 mar5top">
            <div class="col s12 m12 l4">
              <div class="card-panel homecard1 valign-wrapper hoverable">
               <span class="white-text cardtext grow">LEARN</span>
             </div>
            </div>
            <div class="col s12 m12 l4">
              <div class="card-panel homecard2 valign-wrapper hoverable">
               <span class="white-text cardtext grow ">LEAD</span>
             </div>
            </div>
            <div class="col s12 m12 l4">
               <div class="card-panel homecard3 valign-wrapper hoverable">
               <span class="white-text cardtext grow ">INSPIRE</span>
             </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pad5">
        <div class="col s12 m12 l12">
          <div class="card-panel videocard cards-3 valign-wrapper margin0">
            <div class="video-card-data center">
              <p class="white-text cardhead">
                Clouds Anthem 2017
              </p>
              <a href="http://www.youtube.com/embed/RbbQl2sU-ag?autoplay=1" rel="lightframe"><img src="images/play_icon.svg" class="grow centered play-button" /></a>

            </div>
         </div>
        </div>
      </div>
      <div class="row pad5">
        <div class="col s12 m12 l12">
          <div class="cards cards-3 center margin0">
           <p class="title">CLOUDS LIVE</p>
            <div class="row pad10 mar5top">
              <div class="col s12 m12 l4">
                <div class="card-panel homecard1 valign-wrapper hoverable">
                 <span class="white-text cardtext grow">LEARN</span>
               </div>
              </div>
              <div class="col s12 m12 l4">
                <div class="card-panel homecard2 valign-wrapper hoverable">
                 <span class="white-text cardtext grow ">LEAD</span>
               </div>
              </div>
              <div class="col s12 m12 l4">
                 <div class="card-panel homecard3 valign-wrapper hoverable">
                 <span class="white-text cardtext grow ">INSPIRE</span>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pad5">

         <div class="col s12 m6 l4">
           <div class="card cards-3">
             <div class="card-image">
               <img src="images/home_card_1.jpg">
             </div>
             <div class="card-content">
               <p>I am a very simple card. I am good at containing small bits of information.
               I am convenient because I require little markup to use effectively.</p>
             </div>

           </div>
         </div>

         <div class="col s12 m6 l4">
           <div class="card cards-3">
             <div class="card-image">
               <img src="images/home_card_2.jpg">
             </div>
             <div class="card-content">
               <p>I am a very simple card. I am good at containing small bits of information.
               I am convenient because I require little markup to use effectively.</p>
             </div>

           </div>
         </div>

         <div class="col s12 m6 l4">
           <div class="card cards-3">
             <div class="card-image">
               <img src="images/home_card_3.jpg">
             </div>
             <div class="card-content">
               <p>I am a very simple card. I am good at containing small bits of information.
               I am convenient because I require little markup to use effectively.</p>
             </div>
           </div>
         </div>

      </div>
      <div class="col s12 m12 l5">
        <div class="cards cards-3 mar5top">
          <p class="cardtitle">
            NOTIFICATIONS
          </p>
          <hr/>
        </div>
      </div>
      <div class="col s12 m12 l7">
        <div class="cards cards-3 mar5top">
          <p class="cardtitle">
           CLOUDS BUZZ
          </p>

          <!-- BUZZ CARDS -->
             <hr/>

        </div>
      </div>
    </div>
  </div>
 </div>
