<!-- members tab contents -->
<div id="members" class="col s12">
  <div class="hero">

  </div>
  <div class="container">
    <div class="cards pad10 cards-3">
      <div class="row">
        <p class="title">CORDINATORS</p>
      </div>
      <div class="row center">
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 cyan size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member1.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 cyan size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member2.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 cyan size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member3.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 cyan size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member4.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>

          </div>
        </div>
      </div>

      <div class="row">
        <p class="title">OFFICE MEMBERS</p>
      </div>
      <div class="row center">
        <div class="col s12 m6 l3 pad10 pad5top">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member1.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member2.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member3.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member4.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>

          </div>
        </div>
      </div>
      <div class="row center">
        <div class="col s12 m6 l3 pad10 pad5top">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member1.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member2.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member3.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>
          </div>
        </div>
        <div class="col s12 m6 l3 pad10">
          <div class="cards cards-3 teal accent-4 size200 pad10 propic-card">
            <div class="row center">
              <img src="images/members/member4.jpg" class="propic circle mar5top" />
            </div>
            <span class="white-text name">
              Jhon Doe
            </span><br/><span class="white-text caption pad5">
              Visual Designer
            </span>

          </div>
        </div>
      </div>

    </div> <!--here-->


  </div><!-- container ends -->
</div>
