<nav class="nav-extended">
  <div class="nav-wrapper light-blue">
    <a href="#" class="brand-logo valign-wrapper">&nbsp;<img src="images/clouds_logo.svg" class="responsive-img logo mar5top" width="100px" height="30px"/></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="gallery.html">Gallery</a></li>
      <li><a href="helpline.html">HelpLine</a></li>
      <li><a href="feedback.html">Feedback</a></li>
      <li><a href="collapsible.html">Login</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="gallery.html">Gallery</a></li>
     <li><a href="helpline.html">HelpLine</a></li>
     <li><a href="feedback.html">Feedback</a></li>
     <li><a href="collapsible.html">Login</a></li>
    </ul>
  </div>
    <div class="nav-content light-blue">
      <ul class="tabs tabs-transparent center">
        <li class="tab"><a class="active grow" href="#home">Home</a></li>
        <li class="tab"><a class="grow" id="events_trigger" href="#events">Events</a></li>
        <li class="tab"><a class="grow" href="#members">Members</a></li>
        <li class="tab"><a class="grow" href="#about">About</a></li>
      </ul>
    </div>

</nav>
